.panel {
  position: absolute;
  width: 40%;
  height: 90%;
  top: 0;
  right: 0;
  background: rgba(110, 110, 110, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 1;
  padding: 3em 2em;
  overflow-y: scroll;
}

.panel form {
  margin-bottom: 1em;
}

.submit {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 1em;
  margin: 0;
  border: none;
  outline: none;
  background: #af5f5f;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.4s;
}

.submit:hover {
  background: #fff !important;
  color: #000;
}

.search {
  background: none;
  border: none;
  border-bottom: 1px #ccc solid;
  padding: 0 1em 0.5em 0;
  width: 80%;
  color: #fff;
  font-size: 1.1em;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  color: #ccc;
}

.panel ul {
  padding: 0 0 1em 0;
  border-bottom: 1px #ccc solid;
}

.cities {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: #ccc;
}
.city {
  cursor: pointer;
  padding: 2rem;
}

.city:hover {
  color: #fff;
}

.details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
