.weather-details-container {
  display: flex;
  justify-content: center;
}

.current {
  padding: 20px;
  border-radius: 10px;
}

.temp {
  width: 202px;
  height: 63px;
  flex-shrink: 0;
  color: #fff;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  top: 2rem;
}

.details {
  margin-top: 15px;
  width: 206px;
  height: 318px;
  flex-shrink: 0;
}

.name-group {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 4rem;
}
.name {
  color: #fff;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 111px;
  height: 22px;
}

.location-icon {
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.arrow-icon {
  margin-right: 2rem;
  width: 15px;
  height: 15px;
  margin-top: 12px;
}

.city-time {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 205px;
  height: 28px;
  flex-shrink: 0;
}

.icon {
  display: flex;
  width: 321px;
  height: 321px;
  padding: 26.75px 0px 40.125px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 45rem;
}

.condition {
  color: #fff;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: 196px;
  height: 47px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
